<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
{% load static %}
<div class = "container">
    <a href="{% static 'portfolio/Resume_Bhakti_Joshi.docx' %}">Resume</a>
        <h1>Bhakti's Portfolio</h1>
        <p>
            I am Bhakti Joshi an individual who passed out her bachelor's in 2012, from University of Mumbai.
            I made great friends at my junior college and we are all still in touch. I had a boyfriend who was
            my senior then, but we started dating some years later. I loved my junior college life. After that 
            I moved to my graduation college and made some great friends there too. But none of them are in touch 
            right now. I do miss them in my life. I have two siblings[oops! I meant two sisters]. One is elder to 
            me and the other is younger to me.<br>

            After my graduation, I was employed through campus recruitment at Mastek. I had a great work life at
            my first company and now its close to my heart. I made friends there too. I have worked with awesome 
            colleagues. Got a wonderful experience in IT industry.<br>

            After around 4.5 years of experience, I decided to get married. Yes, the guy about whom I discussed
            earlier. He was onsite for some years, came back for the marriage. We both went to USA for 2 years.
            Now, we are back in India and living our not so perfect life with each other.<br><br>
            I work at Capgemini now, as a python developer. I love my work so much, that I planned on creating 
            self-initiated projects. Although, they are not so big and great, but I do make sure do create some
            impressive projects and study on my own. One of them is this.<br><br>

            Now, I am fetching the details that I have passed on to the Project, that I created in
            django. They are printed below:<br>
            {% for project in projects %}
              <b>Project Title:  {{ project.title }}</b><br>
              <b>Project Description:  {{ project.decription }}</b><br>
              {% if project.url %}
                <b>Project URL:  <a href = "{{ project.url }}">Link</a></b><br>
              {% endif %}
              <b> Project Image: <br>
                <img src= "{{ project.image.url }}" height=300 width=250>
            {% endfor %}
        </p><br>
</div>